/* .Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--light.Toastify__progress-bar--success {
    background: #ff8a0a!important;
} */
.Toastify__progress-bar--bg.Toastify__progress-bar-theme--light.Toastify__progress-bar--success {
    background: #000000 !important;
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--dark.Toastify__progress-bar--success {
    background: #ff8001!important;
    opacity: 1!important;
}