.ant-picker.css-dev-only-do-not-override-1osi4s7.ant-picker-focused {
  background: transparent !important;
  border: solid 1px inherit !important;
  color: inherit !important;
  height: 40px !important;
  margin-top: 5px !important;
}
.ant-picker.css-dev-only-do-not-override-1osi4s7 {
  background: transparent !important;
  border: solid 1px inherit !important;
  color: inherit !important;
  height: 40px !important;
  margin-top: 5px !important;
}
span.anticon.anticon-calendar {
  color: inherit !important;
  font-size: 1.1rem !important;
}
span.anticon.anticon-close-circle {
  color: inherit !important;
  font-size: 1.1rem !important;
}

.ant-picker-input > input::placeholder {
  color: inherit !important;
}
.ant-picker.ant-picker-range.ant-picker-outlined.css-dev-only-do-not-override-w008p2 {
  padding: 10px !important;
}

.ant-picker.ant-picker-outlined.css-dev-only-do-not-override-w008p2 {
  padding: 10px !important;
  margin: 0px !important;
}
