:where(.css-dev-only-do-not-override-1osi4s7).ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child {
  inset-inline-start: -1px;
  padding: 0;
  border: 0;
}
.ant-picker.ant-picker-outlined.css-dev-only-do-not-override-e93s20 {
  padding: 0.47vw 0.4vw;
}
